<nz-spin [nzSpinning]="isSpinning" [nzSize]="'large'">
    <div nz-row>
        <div nz-col nzSpan="12">
            <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
                <input type="text" nz-input placeholder="Nhập từ khoá" #inputSearch />
            </nz-input-group>
            <ng-template #suffixIconButton>
                <button nz-button nzType="primary" nzSearch><i nz-icon nzType="search"
                        (click)="getListContractPending(inputSearch.value, student.id, 1, 10)"></i></button>
            </ng-template>
        </div>
    </div>
    <br>
    <nz-table #basicTable [nzData]="listContractPending.items" *ngIf="listContractPending != undefined"
        [nzFrontPagination]="false">
        <thead>
            <tr>
                <th>STT</th>
                <th>Khoá</th>
                <th>Mã sinh viên</th>
                <th>Tên sinh viên</th>
                <th>Giới tính</th>
                <th>Số điện thoại</th>
                <th>Ngày bắt đầu hợp đồng</th>
                <th>Hạn hợp đồng</th>
                <th>Khu ở</th>
                <th>Phòng ở</th>
                <th>Trạng duyệt đơn đăng kí</th>
                <th>Trạng thái SV xác nhận</th>
                <th>Thao tác</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of basicTable.data">
                <td>{{ listContractPending.items.indexOf(data) + 1 }}</td>
                <td>{{ data.academicYear }}</td>
                <td>{{ data.studentCode }}</td>
                <td>{{ data.studentName }}</td>
                <td *ngIf="data.gender == 1">Nam</td>
                <td *ngIf="data.gender == 0">Nữ</td>
                <td>{{ data.studentPhone }}</td>
                <td>{{ data.fromDate | date : "dd-MM-yyyy"}}</td>
                <td>{{ data.toDate | date : "dd-MM-yyyy"}}</td>
                <td>{{ data.areaName }}</td>
                <td>{{ data.roomName }}</td>

                <td *ngIf="data.adminConfirmStatus == 0" style="color: #efbf38;">Chờ duyệt</td>
                <td *ngIf="data.adminConfirmStatus == 1" style="color: #f40404;">Từ chối</td>
                <td *ngIf="data.adminConfirmStatus == 2" style="color: #25da91;">Chấp nhận</td>

                <td *ngIf="data.studentConfirmStatus == 0" style="color: #efbf38;">Chờ duyệt</td>
                <td *ngIf="data.studentConfirmStatus == 1" style="color: #f40404;">Từ chối</td>
                <td *ngIf="data.studentConfirmStatus == 2" style="color: #25da91;">Chấp nhận</td>
                <td>
                    <a nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu">
                        <i nz-icon nzType="bars" nzTheme="outline"></i>
                    </a>
                    <nz-dropdown-menu #menu="nzDropdownMenu">
                        <ul nz-menu>
                            <li nz-menu-item (click)="studentConfirm(data.id, 2)"
                                [nzDisabled]="data.contractCompletedStatus != undefined || data.roomId == undefined || data.adminConfirmStatus == 0">
                                Chấp nhận</li>
                            <li nz-menu-item (click)="studentConfirm(data.id, 1)"
                                [nzDisabled]="data.contractCompletedStatus != undefined || data.roomId == undefined || data.adminConfirmStatus == 0">
                                Từ chối</li>
                            <li nz-menu-item (click)="deleteSignUpForm(data.id)"
                                [nzDisabled]="data.adminConfirmStatus != 0">Xoá</li>
                        </ul>
                    </nz-dropdown-menu>
                </td>
            </tr>
        </tbody>
    </nz-table>
    <nz-pagination *ngIf="listContractPending != undefined" [(nzPageIndex)]="pageIndex"
        [nzTotal]="listContractPending.totalRecords" [nzPageSize]="10"
        (nzPageIndexChange)="getListContractPending('', student.id, pageIndex, 10)">
    </nz-pagination>
    <b style="float: right;"><i>*Chú ý: ngày bắt đầu hợp đồng là ngày mà sinh viên xác nhận hợp đồng, nhưng hợp đồng nào
            quá 5 ngày mà không xác nhận sẽ tự động huỷ bỏ</i></b>
</nz-spin>