<div>
    <h4>Danh sách phòng</h4>
    <br>
</div>
<nz-spin [nzSpinning]="isSpinning" [nzSize]="'large'">
    <div nz-row>
        <div nz-col nzSpan="8">
            <label for="">Tìm kiếm</label>
            <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
                <input type="text" nz-input placeholder="Nhập từ khoá" #inputSearch />
            </nz-input-group>
            <ng-template #suffixIconButton>
                <button nz-button nzType="primary" nzSearch><i nz-icon nzType="search"
                        (click)="getListRoom(inputSearch.value, 1, 10)"></i></button>
            </ng-template>
        </div>
        <div nz-col nzSpan="10">
            <label for="">Khu</label><br>
            <nz-select [(ngModel)]="areaFilter" style="width: 150px;" (ngModelChange)="changeAreaFilter()">
                <nz-option [nzValue]="0" nzLabel="Tất cả"></nz-option>
                <nz-option *ngFor="let item of areaSelect" [nzValue]="item.id" [nzLabel]="item.name"></nz-option>
            </nz-select>
        </div>
        <div nz-col nzSpan="6">
            <label for="">&nbsp;</label><br>
            <button nz-button [nzType]="'primary'" (click)="showModal('Thêm mới phòng')" style="float: right;">
                <span>Thêm mới</span>
            </button>
        </div>
    </div>
    <br>
    <nz-modal [(nzVisible)]="isVisible" [nzTitle]="modalTitle" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
        <ng-container *nzModalContent>
            <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">

                <nz-form-item>
                    <nz-form-label [nzSpan]="7" nzRequired>Tên phòng</nz-form-label>
                    <nz-form-control [nzSpan]="12" nzErrorTip="Hãy nhập tên phòng">
                        <input nz-input formControlName="name" />
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-label [nzSpan]="7" nzRequired>Giá phòng</nz-form-label>
                    <nz-form-control [nzSpan]="12" nzErrorTip="Hãy nhập giá phòng">
                        <nz-input-number formControlName="price" [nzStep]="1" style="width: 100%"></nz-input-number>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-label [nzSpan]="7" nzRequired>Khu</nz-form-label>
                    <nz-form-control [nzSpan]="12" nzErrorTip="Hãy khu của tên phòng">
                        <nz-select formControlName="areaId">
                            <nz-option *ngFor="let item of areaSelect" [nzValue]="item.id" [nzLabel]="item.name">
                            </nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-label [nzSpan]="7" nzRequired>Sức chứa lớn nhất</nz-form-label>
                    <nz-form-control [nzSpan]="12" nzErrorTip="Hãy nhập sức chứa lớn nhất">
                        <nz-input-number formControlName="maxSlot" [nzStep]="1" style="width: 100%"></nz-input-number>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-label [nzSpan]="7">Sức chứa nhỏ nhất</nz-form-label>
                    <nz-form-control [nzSpan]="12">
                        <nz-input-number formControlName="minSlot" [nzStep]="1" style="width: 100%"></nz-input-number>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-label [nzSpan]="7">Đã có người ở</nz-form-label>
                    <nz-form-control [nzSpan]="12">
                        <nz-input-number formControlName="filledSlot" [nzStep]="1" style="width: 100%">
                        </nz-input-number>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-label [nzSpan]="7">Chỗ trống sẵn có</nz-form-label>
                    <nz-form-control [nzSpan]="12">
                        <nz-input-number formControlName="avaiableSlot" [nzStep]="1" style="width: 100%">
                        </nz-input-number>
                    </nz-form-control>
                </nz-form-item>



            </form>
        </ng-container>
    </nz-modal>

    <nz-drawer [nzClosable]="false" [nzVisible]="isVisible1" nzPlacement="right" nzTitle="Danh sách cơ sở vật chất trong phòng" (nzOnClose)="close()" nzWidth="800px">
        <ng-container *nzDrawerContent>
            <button nz-button nzType="primary" (click)="showModal2()" style="float: right;">Thêm mới</button><br><br>
            <nz-table #basicTable [nzData]="listFaciliy" *ngIf="listFaciliy != undefined" [nzFrontPagination]="false">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Tên csvc</th>
                        <th>Số lượng</th>
                        <th>Trạng thái</th>
                        <th>Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of basicTable.data">
                        <td>{{ listFaciliy.indexOf(data) + 1 }}</td>
                        <td>{{ data.facilityName }}</td>
                        <td>{{ data.count }}</td>
                        <td>{{ data.status }}</td>
                        <td>
                            <button nz-button nzSize="small" nzDanger nzType="primary"
                                (click)="deleteFacilityInRoom(data.id)">Xoá</button>
                        </td>
                    </tr>
                </tbody>
            </nz-table>
        </ng-container>
    </nz-drawer>

    <nz-modal [(nzVisible)]="isVisible2" nzTitle="Thêm cơ sở vật chất" (nzOnCancel)="handleCancel2()"
        (nzOnOk)="handleOk2()">
        <ng-container *nzModalContent>
            <form nz-form [formGroup]="facilityForm" (ngSubmit)="submitForm()">

                <nz-form-item>
                    <nz-form-label [nzSpan]="7" nzRequired>Cơ sở vật chất</nz-form-label>
                    <nz-form-control [nzSpan]="12" nzErrorTip="Hãy chọn cơ sở vật chất">
                        <nz-select formControlName="facilityId">
                            <nz-option *ngFor="let item of facilitySelect" [nzValue]="item.id" [nzLabel]="item.name">
                            </nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-label [nzSpan]="7" nzRequired>Số lượng</nz-form-label>
                    <nz-form-control [nzSpan]="12" nzErrorTip="Hãy nhập số lượng">
                        <nz-input-number formControlName="count" [nzStep]="1" style="width: 100%"></nz-input-number>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-label [nzSpan]="7" nzRequired>Trạng thái</nz-form-label>
                    <nz-form-control [nzSpan]="12" nzErrorTip="Hãy nhập trạng thái">
                        <input nz-input formControlName="status" />
                    </nz-form-control>
                </nz-form-item>

            </form>
        </ng-container>
    </nz-modal>

    <nz-table #basicTable [nzData]="listRoom.items" *ngIf="listRoom != undefined" [nzFrontPagination]="false">
        <thead>
            <tr>
                <th style="background-color: #002140; color: white;">STT</th>
                <th style="background-color: #002140; color: white;">Tên phòng</th>
                <th style="background-color: #002140; color: white;">Giá phòng</th>
                <th style="background-color: #002140; color: white;">Khu</th>
                <th style="background-color: #002140; color: white;" nzWidth="120px">Sức chứa tối đa</th>
                <th style="background-color: #002140; color: white;" nzWidth="120px">Sức chứa tối thiểu</th>
                <th style="background-color: #002140; color: white;" nzWidth="120px">Còn trống</th>
                <th style="background-color: #002140; color: white;" nzWidth="120px">Đã có người ở</th>
                <th style="background-color: #002140; color: white;" nzWidth="120px">Chỗ trống có sẵn</th>
                <th style="background-color: #002140; color: white;">Thao tác</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of basicTable.data">
                <td>{{ listRoom.items.indexOf(data) + 1 }}</td>
                <td>{{ data.name }}</td>
                <td>{{ data.price | currency : "VND"}}</td>
                <td>{{ data.areaName }}</td>
                <td>{{ data.maxSlot }}</td>
                <td>{{ data.minSlot }}</td>
                <td>{{ data.emptySlot }}</td>
                <td>{{ data.filledSlot }}</td>
                <td>{{ data.avaiableSlot }}</td>
                <td>
                    <button nz-button nzSize="small" nzType="primary"
                        (click)="showModal('Sửa thông tin phòng', data)">Sửa</button>&nbsp;
                    <button nz-button nzSize="small" nzDanger nzType="primary"
                        (click)="deleteRoom(data.id)">Xoá</button>&nbsp;
                    <button nz-button nzSize="small" nzType="default" (click)="showModal1(data.id)">Cơ sở vật chất</button>
                </td>
            </tr>
        </tbody>
    </nz-table>
    <nz-pagination *ngIf="listRoom != undefined" [(nzPageIndex)]="pageIndex" [nzTotal]="listRoom.totalRecords"
        [nzPageSize]="10" (nzPageIndexChange)="getListRoom('', pageIndex, 10)"></nz-pagination>
</nz-spin>