<div>
    <h4>Danh sách đơn đăng ký</h4>
    <br>
</div>
<nz-spin [nzSpinning]="isSpinning" [nzSize]="'large'">
    <div nz-row>
        <div nz-col nzSpan="8">
            <label for="">Tìm kiếm</label>
            <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
                <input type="text" nz-input placeholder="Nhập từ khoá" #inputSearch />
            </nz-input-group>
            <ng-template #suffixIconButton>
                <button nz-button nzType="primary" nzSearch><i nz-icon nzType="search"
                        (click)="getListContractPending(inputSearch.value, 1, 10)"></i></button>
            </ng-template>
        </div>
        <div nz-col nzSpan="16">
            <label for="">&nbsp;</label><br>
            <button nz-button [nzType]="'primary'" style="float: right;" (click)="submitForm()">
                <span>Duyệt tự động</span>
            </button>
        </div>
    </div>
    <br>
    <div nz-row>
        <div nz-col nzSpan="10">
            <div nz-row>
                <div nz-col class="gutter-row" [nzSpan]="6">
                    <div class="inner-box">
                        <label for="">Từ ngày</label>
                        <input class="form-control" [(ngModel)]="fromDateFilter" type="date"
                            style="width : 100%; border-radius: 0; height: 32px;">
                    </div>
                </div>
                <div nz-col class="gutter-row" [nzSpan]="6">
                    <div class="inner-box">
                        <label for="">Đến này</label>
                        <input class="form-control" [(ngModel)]="toDateFilter" type="date"
                            style="width : 100%; border-radius: 0; height: 32px;">
                    </div>
                </div>
                <div nz-col class="gutter-row" [nzSpan]="6">
                    <div class="inner-box">
                        <label for="">Trạng thái duyệt</label><br>
                        <nz-select [(ngModel)]="statusFilter" style="width: 100%;">
                            <nz-option [nzValue]="-1" nzLabel="Tất cả"></nz-option>
                            <nz-option [nzValue]="0" nzLabel="Chờ duyệt"></nz-option>
                            <nz-option [nzValue]="1" nzLabel="Từ chối"></nz-option>
                            <nz-option [nzValue]="2" nzLabel="Chấp nhận"></nz-option>
                        </nz-select>
                    </div>
                </div>
                <div nz-col class="gutter-row" [nzSpan]="3">
                    <div class="inner-box">
                        <div>
                            <label for="">&nbsp;</label><br>
                            <button nz-button [nzType]="'primary'" style="float: right;" (click)="onFilter()">
                                <span>Lọc</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div nz-col class="gutter-row" [nzSpan]="3">
                    <div class="inner-box">
                        <div>
                            <label for="">&nbsp;</label><br>
                            <button nz-button [nzType]="'primary'" style="float: right;" (click)="resetFilter()">
                                <span>Reset</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>

    <nz-table #basicTable [nzData]="listContractPending.items" *ngIf="listContractPending != undefined"
        [nzFrontPagination]="false">
        <thead>
            <tr>
                <th style="background-color: #002140; color: white;">STT</th>
                <th style="background-color: #002140; color: white;">Ngày đăng ký</th>
                <th style="background-color: #002140; color: white;">Mã đơn đăng kí</th>
                <th style="background-color: #002140; color: white;">Tên sinh viên</th>
                <th style="background-color: #002140; color: white;">Giới tính</th>
                <th style="background-color: #002140; color: white;">Mã sinh viên</th>
                <th style="background-color: #002140; color: white;">Số điện thoại</th>
                <th style="background-color: #002140; color: white;">Địa chỉ</th>
                <th style="background-color: #002140; color: white;">Giá phòng mong muốn</th>
                <th style="background-color: #002140; color: white;">Điểm</th>
                <th style="background-color: #002140; color: white;">Trạng thái duyệt</th>
                <th style="background-color: #002140; color: white;">Thao tác</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of basicTable.data">
                <td>{{ listContractPending.items.indexOf(data) + 1 }}</td>
                <td>{{ data.dateCreated | date : "dd-MM-yyyy" }}</td>
                <td>{{ data.contractCode }}</td>
                <td>{{ data.studentName }}</td>
                <td *ngIf="data.gender == 1">Nam</td>
                <td *ngIf="data.gender == 0">Nữ</td>
                <td>{{ data.studentCode }}</td>
                <td>{{ data.studentPhone }}</td>
                <td>{{ data.adress }}</td>
                <td>{{ data.desiredPrice | currency : "VND"}}</td>
                <td>{{ data.point }}</td>
                <td *ngIf="data.adminConfirmStatus == 0" style="color: #efbf38;">Chờ duyệt</td>
                <td *ngIf="data.adminConfirmStatus == 1" style="color: #f40404;">Từ chối</td>
                <td *ngIf="data.adminConfirmStatus == 2" style="color: #25da91;">Chấp nhận</td>
                <td>
                    <a nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu">
                        <i nz-icon nzType="bars" nzTheme="outline"></i>
                    </a>
                    <nz-dropdown-menu #menu="nzDropdownMenu">
                        <ul nz-menu>
                            <li nz-menu-item (click)="adminConfirm(data.id, 2)">Chấp nhận</li>
                            <li nz-menu-item (click)="adminConfirm(data.id, 1)">Từ chối</li>
                            <!-- <li nz-menu-item nzDanger (click)="deleteContract(data.id)">Xoá</li> -->
                        </ul>
                    </nz-dropdown-menu>
                </td>
            </tr>
        </tbody>
    </nz-table>
    <nz-pagination *ngIf="listContractPending != undefined" [(nzPageIndex)]="pageIndex"
        [nzTotal]="listContractPending.totalRecords" [nzPageSize]="10"
        (nzPageIndexChange)="getListContractPending('', pageIndex, 10)">
    </nz-pagination>
</nz-spin>