<div>
    <h4>Danh sách đơn đăng ký</h4>
    <br>
</div>
<nz-spin [nzSpinning]="isSpinning" [nzSize]="'large'">
    <div nz-row>
        <div nz-col nzSpan="12">
            <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
                <input type="text" nz-input placeholder="Nhập từ khoá" #inputSearch />
            </nz-input-group>
            <ng-template #suffixIconButton>
                <button nz-button nzType="primary" nzSearch><i nz-icon nzType="search"
                        (click)="getListContractPending(inputSearch.value, 1, 10)"></i></button>
            </ng-template>
        </div>
        <div nz-col nzSpan="12">
            <button nz-button [nzType]="'primary'" style="float: right;" (click)="submitForm()">
                <span>Duyệt tự động</span>
            </button>
        </div>
    </div>
    <br>

    <nz-table #basicTable [nzData]="listContractPending.items" *ngIf="listContractPending != undefined"
        [nzFrontPagination]="false">
        <thead>
            <tr>
                <th>STT</th>
                <th>Ngày đăng ký</th>
                <th>Mã đơn đăng kí</th>
                <th>Tên sinh viên</th>
                <th>Mã sinh viên</th>
                <th>Số điện thoại</th>
                <th>Địa chỉ</th>
                <th>Giá phòng mong muốn</th>
                <th>Điểm</th>
                <th>Trạng thái duyệt</th>
                <th>Thao tác</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of basicTable.data">
                <td>{{ listContractPending.items.indexOf(data) + 1 }}</td>
                <td>{{ data.dateCreated | date : "dd-MM-yyyy" }}</td>
                <td>{{ data.contractCode }}</td>
                <td>{{ data.studentName }}</td>
                <td>{{ data.studentCode }}</td>
                <td>{{ data.studentPhone }}</td>
                <td>{{ data.adress }}</td>
                <td>{{ data.desiredPrice | currency : "VND"}}</td>
                <td>{{ data.point }}</td>
                <td *ngIf="data.adminConfirmStatus == 0" style="color: #efbf38;">Chờ duyệt</td>
                <td *ngIf="data.adminConfirmStatus == 1" style="color: #f40404;">Từ chối</td>
                <td *ngIf="data.adminConfirmStatus == 2" style="color: #25da91;">Chấp nhận</td>
                <td>
                    <a nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu">
                        <i nz-icon nzType="bars" nzTheme="outline"></i>
                    </a>
                    <nz-dropdown-menu #menu="nzDropdownMenu">
                        <ul nz-menu>
                            <li nz-menu-item (click)="adminConfirm(data.id, 2)">Chấp nhận</li>
                            <li nz-menu-item (click)="adminConfirm(data.id, 1)">Từ chối</li>
                            <!-- <li nz-menu-item nzDanger (click)="deleteContract(data.id)">Xoá</li> -->
                        </ul>
                    </nz-dropdown-menu>
                </td>
            </tr>
        </tbody>
    </nz-table>
    <nz-pagination *ngIf="listContractPending != undefined" [(nzPageIndex)]="pageIndex"
        [nzTotal]="listContractPending.totalRecords" [nzPageSize]="10"
        (nzPageIndexChange)="getListContractPending('', pageIndex, 10)">
    </nz-pagination>
</nz-spin>