<div>
    <h4>Danh sách dịch vụ</h4>
    <br>
</div>
<nz-spin [nzSpinning]="isSpinning" [nzSize]="'large'">
    <div nz-row>
        <div nz-col nzSpan="8">
            <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
                <input type="text" nz-input placeholder="Nhập từ khoá" #inputSearch />
            </nz-input-group>
            <ng-template #suffixIconButton>
                <button nz-button nzType="primary" nzSearch><i nz-icon nzType="search"
                        (click)="getListService(inputSearch.value, 1, 10)"></i></button>
            </ng-template>
        </div>
        <div nz-col nzSpan="16">
            <button nz-button [nzType]="'primary'" (click)="showModal('Thêm mới dịch vụ')" style="float: right;">
                <span>Thêm mới</span>
            </button>
        </div>
    </div>
    <br>
    <nz-modal [(nzVisible)]="isVisible" [nzTitle]="modalTitle" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
        <ng-container *nzModalContent>
            <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">

                <nz-form-item>
                    <nz-form-label [nzSpan]="7" nzRequired>Tên dịch vụ</nz-form-label>
                    <nz-form-control [nzSpan]="12" nzErrorTip="Hãy nhập tên dịch vụ">
                        <input nz-input formControlName="name" />
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-label [nzSpan]="7" nzRequired>Giá</nz-form-label>
                    <nz-form-control [nzSpan]="12" nzErrorTip="Hãy nhập giá dịch vụ">
                        <nz-input-number formControlName="price" [nzStep]="1" style="width: 100%"></nz-input-number>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-label [nzSpan]="7" nzRequired>Đơn vị</nz-form-label>
                    <nz-form-control [nzSpan]="12" nzErrorTip="Hãy nhập đơn vị">
                        <input nz-input formControlName="unit" />
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-label [nzSpan]="7" nzRequired>Kiểu dịch vụ</nz-form-label>
                    <nz-form-control [nzSpan]="12" nzErrorTip="Hãy nhập giá dịch vụ">
                        <nz-radio-group formControlName="serviceType">
                            <label nz-radio [nzValue]="1">Dịch vụ theo hợp đồng</label>
                            <label nz-radio [nzValue]="0">Dịch vụ theo phòng</label>
                          </nz-radio-group>
                    </nz-form-control>
                </nz-form-item>

            </form>
        </ng-container>
    </nz-modal>

    <nz-table #basicTable [nzData]="listService.items" *ngIf="listService != undefined" [nzFrontPagination]="false">
        <thead>
            <tr>
                <th style="background-color: #002140; color: white;">STT</th>
                <th style="background-color: #002140; color: white;">Tên dịch vụ</th>
                <th style="background-color: #002140; color: white;">Giá</th>
                <th style="background-color: #002140; color: white;">Đơn vị</th>
                <th style="background-color: #002140; color: white;">Kiểu dịch vụ</th>
                <th style="background-color: #002140; color: white;">Thao tác</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of basicTable.data">
                <td>{{ listService.items.indexOf(data) + 1}}</td>
                <td>{{ data.name }}</td>
                <td>{{ data.price | currency : "VND" }}</td>
                <td>{{ data.unit }}</td>
                <td *ngIf="data.serviceType == 1">Dịch vụ theo hợp đồng</td>
                <td *ngIf="data.serviceType == 0">Dịch vụ theo phòng</td>
                <td>
                    <button nz-button nzSize="small" nzType="primary"
                        (click)="showModal('Sửa dịch vụ', data)">Sửa</button>&nbsp;
                    <button nz-button nzSize="small" nzDanger nzType="primary"
                        (click)="deleteService(data.id)">Xoá</button>
                </td>
            </tr>
        </tbody>
    </nz-table>
    <nz-pagination *ngIf="listService != undefined" [(nzPageIndex)]="pageIndex" [nzTotal]="listService.totalRecords"
        [nzPageSize]="10" (nzPageIndexChange)="getListService('', pageIndex, 10)"></nz-pagination>
</nz-spin>