<div>
    <h4>Danh sách khu</h4>
    <br>
</div>
<nz-spin [nzSpinning]="isSpinning" [nzSize]="'large'">
    <div nz-row>
        <div nz-col nzSpan="8">
            <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
                <input type="text" nz-input placeholder="Nhập từ khoá" #inputSearch />
            </nz-input-group>
            <ng-template #suffixIconButton>
                <button nz-button nzType="primary" nzSearch><i nz-icon nzType="search"
                        (click)="getListArea(inputSearch.value, 1, 10)"></i></button>
            </ng-template>
        </div>
        <div nz-col nzSpan="16">
            <button nz-button [nzType]="'primary'" (click)="showModal('Thêm mới khu')" style="float: right;">
                <span>Thêm mới</span>
            </button>
        </div>
    </div>
    <br>
    <nz-modal [(nzVisible)]="isVisible" [nzTitle]="modalTitle" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
        <ng-container *nzModalContent>
            <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">

                <nz-form-item>
                    <nz-form-label [nzSpan]="7" nzRequired>Tên khu</nz-form-label>
                    <nz-form-control [nzSpan]="12" nzErrorTip="Hãy nhập tên khu">
                        <input nz-input formControlName="name" />
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-label [nzSpan]="7">Tổng số phòng</nz-form-label>
                    <nz-form-control [nzSpan]="12">
                        <nz-input-number formControlName="totalRoom" [nzStep]="1" style="width: 100%"></nz-input-number>
                    </nz-form-control>
                </nz-form-item>

            </form>
        </ng-container>
    </nz-modal>

    <nz-table #basicTable [nzData]="listArea.items" *ngIf="listArea != undefined" [nzFrontPagination]="false">
        <thead>
            <tr>
                <th style="background-color: #002140; color: white;" class="table-header">STT</th>
                <th style="background-color: #002140; color: white;">Tên khu</th>
                <th style="background-color: #002140; color: white;">Tổng số phòng</th>
                <th style="background-color: #002140; color: white;">Thao tác</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of basicTable.data">
                <td>{{ listArea.items.indexOf(data) + 1}}</td>
                <td>{{ data.name }}</td>
                <td>{{ data.totalRoom }}</td>
                <td>
                    <button nz-button nzSize="small" nzType="primary"
                        (click)="showModal('Sửa khu', data)">Sửa</button>&nbsp;
                    <button nz-button nzSize="small" nzDanger nzType="primary"
                        (click)="deleteArea(data.id)">Xoá</button>
                </td>
            </tr>
        </tbody>
    </nz-table>
    <nz-pagination *ngIf="listArea != undefined" [(nzPageIndex)]="pageIndex" [nzTotal]="listArea.totalRecords"
        [nzPageSize]="10" (nzPageIndexChange)="getListArea('', pageIndex, 10)"></nz-pagination>
</nz-spin>