<nz-layout class="layout">
    <nz-header>
        <div class="logo">
            <div nz-row style="margin-top: -17px;">
                <div nz-col nzSpan="4" style="margin-right: 10px;">
                    <img src="assets/logo.png" alt="" style="width: 25px">
                </div>
                <div nz-col nzSpan="16">
                    <b style="color:white;">Ký túc xá</b>
                </div>
            </div>
        </div>
        <ul nz-menu nzTheme="dark" nzMode="horizontal">
            <li nz-menu-item routerLink="sign-up">Đăng kí</li>
            <li nz-menu-item routerLink="student-confirm">D.sách đơn đăng ký</li>
            <li nz-menu-item routerLink="completed-contract">Hợp đồng</li>
            <li nz-menu-item routerLink="contract-fee">Theo dõi tiền phòng</li>
            <li nz-menu-item routerLink="service-fee">Theo dõi tiền điện nước</li>
            <li nz-menu-item routerLink="discipline">Theo dõi kỷ luật</li>
            <div style="float: right; margin-right: 40px;">
                <nz-avatar nzSize="large" nzIcon="user"></nz-avatar>
                <a nz-dropdown [nzDropdownMenu]="menu">
                    {{userName}}
                    <i nz-icon nzType="down"></i>
                </a>
                <nz-dropdown-menu #menu="nzDropdownMenu">
                    <ul nz-menu nzSelectable>
                        <li nz-menu-item (click)="logOut()">Đăng xuất</li>
                    </ul>
                </nz-dropdown-menu>
            </div>
        </ul>
    </nz-header>
    <br>
    <nz-content>
        <div class="inner-content">
            <router-outlet></router-outlet>
        </div>
    </nz-content>
    <nz-footer>
        <div style="background-color: #002140; color: white;">
            <div nz-row>
                <div nz-col nzSpan="2">
                    <img src="assets/logo.png" alt="" style="width: 50px; margin-top: 5%;">
                </div>
                <div nz-col nzSpan="22">
                    <div style="float: left;">
                        <b style="float: left;">KÝ TÚC XÁ HỌC VIỆN NGÂN HÀNG</b><br>
                        <b style="float: left;">Địa chỉ: số 12 đường Chùa Bộc, Đống Đa, Hà Nội</b><br>
                        <b style="float: left;">Thông tin liên hệ:</b>
                    </div>

                </div>
            </div>
        </div>

    </nz-footer>
</nz-layout>