<nz-spin [nzSpinning]="isSpinning" [nzSize]="'large'">
    <nz-modal nzWidth="1800px" [(nzVisible)]="isVisible" nzTitle="Thêm dịch vụ cho phòng" (nzOnCancel)="handleCancel()"
        (nzOnOk)="handleOk()">
        <ng-container *nzModalContent>

            <div style="background: #ECECEC;padding:30px;">
                <nz-card [nzBordered]="false">
                    <div>
                        <nz-table #basicTable1 [nzData]="roomServiceList" *ngIf="roomServiceList != undefined"
                            [nzFrontPagination]="false" nzBordered>
                            <thead>
                                <tr>
                                    <th style="background-color: #002140; color: white;">STT</th>
                                    <th style="background-color: #002140; color: white;">Tên dịch vụ</th>
                                    <th style="background-color: #002140; color: white;">Số đầu</th>
                                    <th style="background-color: #002140; color: white;">Số cuối</th>
                                    <th style="background-color: #002140; color: white;">Tổng số</th>
                                    <th style="background-color: #002140; color: white;">Tổng tiền</th>
                                    <th style="background-color: #002140; color: white;">Ngày đóng</th>
                                    <th style="background-color: #002140; color: white;">Số tiền đóng</th>
                                    <th style="background-color: #002140; color: white;">Trạng thái đóng</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of basicTable1.data">
                                    <td>{{ roomServiceList.indexOf(data) + 1 }}</td>
                                    <td>{{ data.serviceName }}</td>
                                    <td>{{ data.statBegin }}</td>
                                    <td>{{ data.statEnd }}</td>
                                    <td>{{ data.quantity }}</td>
                                    <td>{{ data.totalServicePrice | currency : "VND"}}</td>
                                    <td>{{ data.paidDate | date: "dd-MM-yyyy" }}</td>
                                    <td>{{ data.moneyPaid | currency : "VND"}}</td>
                                    <td *ngIf="!data.isPaid" style="color: #f40404;">Chưa đóng</td>
                                    <td *ngIf="data.isPaid" style="color: #25da91;">Đã đóng</td>
                                </tr>
                            </tbody>
                        </nz-table>
                    </div>
                </nz-card>
            </div>
        </ng-container>
    </nz-modal>


    <nz-table #basicTable2 [nzData]="listBill" *ngIf="listBill != undefined" [nzFrontPagination]="false" nzBordered>
        <thead>
            <tr>
                <th style="background-color: #002140; color: white;">STT</th>
                <th style="background-color: #002140; color: white;">Mã hoá đơn</th>
                <th style="background-color: #002140; color: white;">Tính từ ngày</th>
                <th style="background-color: #002140; color: white;">Đến ngày</th>
                <th style="background-color: #002140; color: white;">Tổng tiền</th>
                <th style="background-color: #002140; color: white;">Trạng thái đóng</th>
                <th style="background-color: #002140; color: white;">Thao tác</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of basicTable2.data">
                <td>{{ listBill.indexOf(data) + 1 }}</td>
                <td>{{ data.code }}</td>
                <td>{{ data.fromDate | date: "dd-MM-yyyy"}}</td>
                <td>{{ data.toDate | date: "dd-MM-yyyy"}}</td>
                <td>{{ data.totalPrice | currency: "VND"}}</td>
                <td *ngIf="!data.isPaid" style="color: #f40404;">Chưa đóng</td>
                <td *ngIf="data.isPaid" style="color: #25da91;">Đã đóng</td>
                <td>
                    <button nz-button nzSize="small" nzType="primary" (click)="showModal(data.id)">Chi tiết HĐ</button>
                </td>
            </tr>
        </tbody>
    </nz-table>
</nz-spin>