<div>
    <h4>Danh sách hợp đồng</h4>
    <br>
</div>
<nz-spin [nzSpinning]="isSpinning" [nzSize]="'large'">
    <div nz-row>
        <div nz-col nzSpan="8">
            <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
                <input type="text" nz-input placeholder="Nhập từ khoá" #inputSearch />
            </nz-input-group>
            <ng-template #suffixIconButton>
                <button nz-button nzType="primary" nzSearch><i nz-icon nzType="search"
                        (click)="getListContract(inputSearch.value, 1, 10)"></i></button>
            </ng-template>
        </div>
    </div>
    <br>
    <div nz-row>
        <div nz-col nzSpan="16">
            <div nz-row>
                <div nz-col class="gutter-row" [nzSpan]="4">
                    <div class="inner-box">
                        <label for="">Kỳ</label><br>
                        <nz-select [(ngModel)]="semesterFilter" style="width: 100%;">
                            <nz-option [nzValue]="0" nzLabel="Tất cả"></nz-option>
                            <nz-option *ngFor="let item of contractConfigSelect" [nzValue]="item.id" [nzLabel]="item.name"></nz-option>
                        </nz-select>
                    </div>
                </div>
                <div nz-col class="gutter-row" [nzSpan]="4">
                    <div class="inner-box">
                        <label for="">Khu</label><br>
                        <nz-select [(ngModel)]="areaFilter" style="width: 100%;">
                            <nz-option [nzValue]="0" nzLabel="Tất cả"></nz-option>
                            <nz-option *ngFor="let item of areaSelect" [nzValue]="item.id" [nzLabel]="item.name"></nz-option>
                        </nz-select>
                    </div>
                </div>
                <div nz-col class="gutter-row" [nzSpan]="4">
                    <div class="inner-box">
                        <label for="">Phòng</label><br>
                        <nz-select [(ngModel)]="roomFilter" style="width: 100%;">
                            <nz-option [nzValue]="0" nzLabel="Tất cả"></nz-option>
                            <nz-option *ngFor="let item of roomSelect" [nzValue]="item.id" [nzLabel]="item.name"></nz-option>
                        </nz-select>
                    </div>
                </div>
                <div nz-col class="gutter-row" [nzSpan]="4">
                    <div class="inner-box">
                        <label for="">Trạng thái</label><br>
                        <nz-select [(ngModel)]="statusFilter" style="width: 100%;">
                            <nz-option [nzValue]="-1" nzLabel="Tất cả"></nz-option>
                            <nz-option [nzValue]="0" nzLabel="Đã hủy"></nz-option>
                            <nz-option [nzValue]="1" nzLabel="Còn hạn"></nz-option>
                            <nz-option [nzValue]="2" nzLabel="Hết hạn"></nz-option>
                        </nz-select>
                    </div>
                </div>
                <div nz-col class="gutter-row" [nzSpan]="4">
                    <div class="inner-box">
                        <label for="">Loại hợp đồng</label><br>
                        <nz-select [(ngModel)]="typeFilter" style="width: 100%;">
                            <nz-option [nzValue]="-1" nzLabel="Tất cả"></nz-option>
                            <nz-option [nzValue]="0" nzLabel="Thường"></nz-option>
                            <nz-option [nzValue]="1" nzLabel="Gia hạn"></nz-option>
                            <nz-option [nzValue]="2" nzLabel="Hè"></nz-option>
                        </nz-select>
                    </div>
                </div>
                <div nz-col class="gutter-row" [nzSpan]="2">
                    <div class="inner-box">
                        <div>
                            <label for="">&nbsp;</label><br>
                            <button nz-button [nzType]="'primary'" style="float: right;" (click)="onFilter()">
                                <span>Lọc</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div nz-col class="gutter-row" [nzSpan]="2">
                    <div class="inner-box">
                        <div>
                            <label for="">&nbsp;</label><br>
                            <button nz-button [nzType]="'primary'" style="float: right;" (click)="reset()">
                                <span>Reset</span>
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <br>

    <nz-modal [(nzVisible)]="isVisible" nzTitle="Thay đổi phòng" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
        <ng-container *nzModalContent>
            <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Chọn phòng muốn đổi" [(ngModel)]="selectedRoom"
                style="width: 100%;">
                <nz-option *ngFor="let option of emptyRoom" [nzLabel]="option.name" [nzValue]="option.id"></nz-option>
            </nz-select>
        </ng-container>
    </nz-modal>

    <nz-table #basicTable [nzData]="listContract.items" *ngIf="listContract != undefined" [nzFrontPagination]="false">
        <thead>
            <tr>
                <th style="background-color: #002140; color: white;">STT</th>
                <th style="background-color: #002140; color: white;">Ngày tạo hợp đồng</th>
                <th style="background-color: #002140; color: white;">Mã hợp đồng</th>
                <th style="background-color: #002140; color: white;">Tên sinh viên</th>
                <th style="background-color: #002140; color: white;">Mã sinh viên</th>
                <th style="background-color: #002140; color: white;">Giới tính</th>
                <th style="background-color: #002140; color: white;">Số điện thoại</th>
                <th style="background-color: #002140; color: white;">Khu ở</th>
                <th style="background-color: #002140; color: white;">Phòng ở</th>
                <th style="background-color: #002140; color: white;">Giá phòng</th>
                <th style="background-color: #002140; color: white;">Ngày bắt đầu</th>
                <th style="background-color: #002140; color: white;">Ngày kết thúc</th>
                <th style="background-color: #002140; color: white;">Kiểu hợp đồng</th>
                <th style="background-color: #002140; color: white;">Trạng thái</th>
                <th style="background-color: #002140; color: white;">Thao tác</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of basicTable.data">
                <td>{{ listContract.items.indexOf(data) + 1 }}</td>
                <td>{{ data.dateCreated | date : "dd-MM-yyyy" }}</td>
                <td>{{ data.contractCode }}</td>
                <td>{{ data.studentName }}</td>
                <td>{{ data.studentCode }}</td>
                <td *ngIf="data.gender == 1">Nam</td>
                <td *ngIf="data.gender == 0">Nữ</td>
                <td>{{ data.studentPhone }}</td>
                <td>{{ data.areaName }}</td>
                <td>{{ data.roomName }}</td>
                <td>{{ data.roomPrice | currency : "VND"}}</td>
                <td>{{ data.fromDate | date : "dd-MM-yyyy" }}</td>
                <td>{{ data.toDate | date : "dd-MM-yyyy" }}</td>

                <td *ngIf="!data.isExtendContract && !data.isSummerContract"
                    style="color: #efbf38;">Thường</td>
                <td *ngIf="data.isExtendContract && !data.isSummerContract"
                    style="color: #25da91;">Gia hạn</td>
             
                <td *ngIf="!data.isExtendContract && data.isSummerContract"
                    style="color: #11bde7;">Kỳ hè</td>

                <td *ngIf="data.isDelete == false && !compareDate(data.toDate)" style="color: #f40404;">Hết hạn</td>
                <td *ngIf="data.isDelete == false && compareDate(data.toDate)" style="color: #25da91;">Còn hạn</td>
                <td *ngIf="data.isDelete == true" style="color: #c0c3c8;">Đã huỷ</td>
                <td>
                    <a nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu">
                        <i nz-icon nzType="bars" nzTheme="outline"></i>
                    </a>
                    <nz-dropdown-menu #menu="nzDropdownMenu">
                        <ul nz-menu>
                            <li nz-menu-item (click)="showModal(data)">Sửa</li>
                            <li nz-menu-item nzDanger (click)="deleteContract(data.id)">Huỷ</li>
                        </ul>
                    </nz-dropdown-menu>
                </td>
            </tr>
        </tbody>
    </nz-table>
    <nz-pagination *ngIf="listContract != undefined" [(nzPageIndex)]="pageIndex" [nzTotal]="listContract.totalRecords"
        [nzPageSize]="10" (nzPageIndexChange)="getListContract('', pageIndex, 10)">
    </nz-pagination>
</nz-spin>