<nz-table #basicTable [nzData]="listArea.items" *ngIf="listArea != undefined">
    <thead>
        <tr>
            <th>Id</th>
            <th>Tên khu</th>
            <th>Tổng số phòng</th>
            <th>Thao tác</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of basicTable.data">
            <td>{{ data.id }}</td>
            <td>{{ data.name }}</td>
            <td>{{ data.totalRoom }}</td>
            <td>
                <button nz-button nzSize="small" nzType="primary">Sửa</button>&nbsp;
                <button nz-button nzSize="small" nzDanger nzType="primary" (click)="deleteArea(data.id)">Xoá</button>
            </td>
        </tr>
    </tbody>
</nz-table>