<div>
    <h4>Danh sách thu phí phòng</h4>
    <br>
</div>
<nz-spin [nzSpinning]="isSpinning" [nzSize]="'large'">
    <div nz-row>
        <div nz-col nzSpan="8">
            <label for="">Tìm kiếm</label>
            <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
                <input type="text" nz-input placeholder="Nhập từ khoá" #inputSearch />
            </nz-input-group>
            <ng-template #suffixIconButton>
                <button nz-button nzType="primary" nzSearch><i nz-icon nzType="search"
                        (click)="getListStudent(inputSearch.value, 1, 10)"></i></button>
            </ng-template>
        </div>
        <div nz-col nzSpan="10">
            <label for="">Trạng thái đóng</label><br>
            <nz-select [(ngModel)]="paidFilter" style="width: 150px;" (ngModelChange)="changePaidFilter()">
                <nz-option [nzValue]="undefined" nzLabel="Tất cả"></nz-option>
                <nz-option [nzValue]="false" nzLabel="Chưa đóng"></nz-option>
                <nz-option [nzValue]="true" nzLabel="Đã đóng"></nz-option>
            </nz-select>
        </div>
    </div>
    <nz-modal [(nzVisible)]="isVisible" nzTitle="Cập nhật trạng thái đóng phí phòng" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
        <ng-container *nzModalContent>
            <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">

                <nz-form-item>
                    <nz-form-label [nzSpan]="7" nzRequired>Số tiền</nz-form-label>
                    <nz-form-control [nzSpan]="12" nzErrorTip="Hãy nhập tên phòng">
                        <nz-input-number formControlName="moneyPaid" [nzStep]="1" style="width: 100%"></nz-input-number>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-label [nzSpan]="7" nzRequired>Ngày đóng</nz-form-label>
                    <nz-form-control [nzSpan]="12" nzErrorTip="Hãy nhập giá phòng">
                        <input class="form-control" formControlName="datePaid" type="date" style="width : 100%">
                    </nz-form-control>
                </nz-form-item>

            </form>
        </ng-container>
    </nz-modal>
    <br>
    <nz-table #basicTable [nzData]="listStudent.items" *ngIf="listStudent != undefined" [nzFrontPagination]="false">
        <thead>
            <tr>
                <th style="background-color: #002140; color: white;">STT</th>
                <th style="background-color: #002140; color: white;">Tên sinh viên</th>
                <th style="background-color: #002140; color: white;">Ngày sinh</th>
                <th style="background-color: #002140; color: white;">Giới tính</th>
                <th style="background-color: #002140; color: white;">Mã sinh viên</th>
                <th style="background-color: #002140; color: white;">Khoá</th>
                <th style="background-color: #002140; color: white;">Chuyên ngành</th>
                <th style="background-color: #002140; color: white;">Lớp</th>
                <th style="background-color: #002140; color: white;">Số điện thoại</th>
                <th style="background-color: #002140; color: white;">Email</th>
                <th style="background-color: #002140; color: white;">Địa chỉ</th>
                <th style="background-color: #002140; color: white;">Trạng thái đóng tiền</th>
                <th style="background-color: #002140; color: white;">Tổng nợ</th>
                <th style="background-color: #002140; color: white;">Thao tác</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let data of basicTable.data">
                <tr>
                    <td>{{ listStudent.items.indexOf(data) + 1 }}</td>
                    <td>{{ data.name }}</td>
                    <td>{{ data.dob | date : "dd-MM-yyyy" }}</td>
                    <td *ngIf="data.gender == 1">Nam</td>
                    <td *ngIf="data.gender == 0">Nữ</td>
                    <td>{{ data.studentCode }}</td>
                    <td>{{ data.academicYear }}</td>
                    <td>{{ data.major }}</td>
                    <td>{{ data.class }}</td>
                    <td>{{ data.phone }}</td>
                    <td>{{ data.email }}</td>
                    <td>{{ data.adress }}</td>
                    <td *ngIf="!data.paymentStatus" style="color: #f40404;">Chưa đóng</td>
                    <td *ngIf="data.paymentStatus" style="color: #25da91;">Đã đóng</td>
                    <td> <b>{{ data.dept | currency : "VND"}}</b> </td>
                    <td>
                        <button nz-button nzSize="small" nzType="primary" (click)="getContractByStudentId(data.id)">
                            Chi tiết
                        </button>
                    </td>
                </tr>
                <td colspan="16" *ngIf="collapseActive == data.id && collapseStatus">
                    <div style="background: #ECECEC;padding:30px;">
                        <nz-card [nzBordered]="false">
                            <div>
                                <nz-table #basicTable [nzData]="currentStudentContract" nzBordered>
                                    <thead>
                                        <tr>
                                            <th style="background-color: #002140; color: white;">Mã hợp đồng</th>
                                            <th style="background-color: #002140; color: white;">Ngày đăng ký</th>
                                            <th style="background-color: #002140; color: white;">Ngày bắt đầu</th>
                                            <th style="background-color: #002140; color: white;">Ngày kết thúc</th>
                                            <th style="background-color: #002140; color: white;">Khu ở</th>
                                            <th style="background-color: #002140; color: white;">Phòng ở</th>
                                            <th style="background-color: #002140; color: white;">Tiền phòng</th>
                                            <th style="background-color: #002140; color: white;">Tiền dịch vụ</th>
                                            <th style="background-color: #002140; color: white;">Tổng tiền</th>
                                            <th style="background-color: #002140; color: white;">Ngày đóng</th>
                                            <th style="background-color: #002140; color: white;">Số tiền đóng</th>
                                            <th style="background-color: #002140; color: white;">Trạng thái đóng</th>
                                            <th style="background-color: #002140; color: white;">Thao tác</th>
                                        </tr>
                                    </thead>
        <tbody>
            <tr *ngFor="let data1 of basicTable.data">
                <td><b>{{ data1.contractCode }}</b> </td>
                <td>{{ data1.dateCreated | date : "dd-MM-yyyy"}}</td>
                <td>{{ data1.fromDate | date : "dd-MM-yyyy"}}</td>
                <td>{{ data1.toDate | date : "dd-MM-yyyy"}}</td>
                <td>{{ data1.areaName }}</td>
                <td>{{ data1.roomName }}</td>
                <td>{{ data1.contractPrice | currency : "VND" }}</td>
                <td>{{ data1.servicePrice | currency : "VND" }}</td>
                <td>{{ data1.contractPriceValue | currency : "VND"}}</td>
                <td>{{ data1.paidDate | date : "dd-MM-yyyy" }}</td>
                <td>{{ data1.moneyPaid | currency : "VND"}}</td>
                <td *ngIf="!data1.isPaid" style="color: #f40404;">Chưa đóng</td>
                <td *ngIf="data1.isPaid" style="color: #25da91;">Đã đóng</td>
                <td>
                    <button nz-button nzSize="small" nzType="primary" (click)="showModal(data1)">
                        Cập nhật
                    </button>
                </td>
            </tr>
        </tbody>
    </nz-table>
    </div>
    </nz-card>
    </div>
    </td>
    </ng-container>

    </tbody>
    </nz-table>
    <nz-pagination *ngIf="listStudent != undefined" [(nzPageIndex)]="pageIndex" [nzTotal]="listStudent.totalRecords"
        [nzPageSize]="10" (nzPageIndexChange)="getListStudent('', pageIndex, 10)">
    </nz-pagination>
</nz-spin>